In [1]:
from tables import start
start()

In [59]:
import pandas as pd
tab1 = pd.read_csv("tables/323_1.tab", sep="\t")
tab2 = pd.read_csv("tables/323_2.tab", sep="\t")
tab3 = pd.read_csv("tables/323_3.tab", sep="\t")
tab4 = pd.read_csv("tables/323_4.tab", sep="\t")

In [60]:
from value import Value
tab1["U"] = tab1["U"].apply(Value)
tab1["I"] = tab1["I"].apply(Value)
tab1["U"] += Value(values=[0.0], syst=0.0005)
tab1["I"] += Value(values=[0.0], syst=0.005)

In [61]:
tab1

                  U              I
0   0.0000 ± 0.0005  0.000 ± 0.005
1   0.3260 ± 0.0005  0.000 ± 0.005
2   0.6120 ± 0.0005  0.260 ± 0.005
3   0.6290 ± 0.0005  0.420 ± 0.005
4   0.6400 ± 0.0005  0.600 ± 0.005
5   0.6490 ± 0.0005  0.800 ± 0.005
6   0.6550 ± 0.0005  0.980 ± 0.005
7   0.6760 ± 0.0005  2.060 ± 0.005
8   0.6880 ± 0.0005  3.070 ± 0.005
9   0.6970 ± 0.0005  4.070 ± 0.005
10  0.7040 ± 0.0005  5.050 ± 0.005
11  0.7100 ± 0.0005  6.120 ± 0.005

In [62]:
tab2["U"] = tab2["U"].apply(Value)
tab2["I"] = tab2["I"].apply(Value)
tab2["U"] += Value(values=[0.0], syst=0.005)
tab2["I"] += Value(values=[0.0], syst=0.005)

In [63]:
tab2

                 U                I
0   -1.050 ± 0.005    0.000 ± 0.005
1   -2.050 ± 0.005    0.000 ± 0.005
2   -3.080 ± 0.005    0.000 ± 0.005
3   -4.090 ± 0.005    0.000 ± 0.005
4   -5.000 ± 0.005    0.000 ± 0.005
5   -6.090 ± 0.005    0.000 ± 0.005
6   -7.550 ± 0.005    0.000 ± 0.005
7   -7.930 ± 0.005   -2.080 ± 0.005
8   -7.940 ± 0.005   -4.150 ± 0.005
9   -7.960 ± 0.005   -6.650 ± 0.005
10  -7.970 ± 0.005   -9.110 ± 0.005
11  -7.980 ± 0.005  -12.650 ± 0.005

In [64]:
tab3["U"] = tab3["U"].apply(Value)
tab3["C"] = tab3["C"].apply(Value)
tab3["U"] += Value(values=[0.0], syst=0.005)
tab3["C"] += Value(values=[0.0], syst=0.005)

In [65]:
tab3

                U              C
0  -0.030 ± 0.005  0.280 ± 0.005
1  -0.510 ± 0.005  0.160 ± 0.005
2  -1.040 ± 0.005  0.100 ± 0.005
3  -1.510 ± 0.005  0.060 ± 0.005
4   0.100 ± 0.005  0.380 ± 0.005
5   0.150 ± 0.005  0.440 ± 0.005

In [66]:
tab4["U"] = tab4["U"].apply(Value)
tab4["t"] = tab4["t"].apply(Value)
tab4["U"] += Value(values=[0.0], syst=0.0005)
tab4["t"] += Value(values=[0.0], syst=0.5)

In [67]:
tab4

            t                U
0  23.0 ± 0.5  0.7040 ± 0.0005
1  40.0 ± 0.5  0.6700 ± 0.0005
2  60.0 ± 0.5  0.6400 ± 0.0005
3  80.0 ± 0.5  0.6000 ± 0.0005

In [69]:
tab1[tab1["U"] > Value(0.6)]

TypeError: '>' not supported between instances of 'Value' and 'Value'